@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>审批窗口</title>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/audit.css" rel="stylesheet" />
    <script src="~/Content/jquery.min.js"></script>
    <script src="~/Content/layui/layui.all.js"></script>
    <script src="~/Content/common.js"></script>
    <script src="~/Content/auditWindow.js"></script>
    <script type="text/javascript">
        $(function () {
            $.AuditWindow({
                instanceID:'@ViewBag.instanceID',
                reject:'@Url.Action("Reject", "Audit")',
                back:'@Url.Action("Back", "Audit")',
                jump:'@Url.Action("Jump", "Audit")',
                select: '@Url.Action("GetTransitions", "Audit")',
                current: '@Url.Action("GetCurrent", "Audit")',
                page: '@ViewBag.url',
                container: '#btnGroup',
                ok: '#btnOk',
                buttonReject: '#btnReject',
                dropdownTemplate: 'common_audit_select_template',
                tips: '请填写审批意见',
                selectOption: '#ddlOperate'
            });
        });
    </script>
</head>
<body>
    <div class="smartflow-table" style="padding:10px;">
        <table class="layui-table">
            <tr>
                <td class="table-cm">下一步操作</td>
                <td>
                    <select id="ddlOperate" class="layui-select"></select>
                </td>
            </tr>
            <tr>
                <td class="table-cm">审批意见</td>
                <td>
                    <textarea class="layui-textarea" id="txtMessage"></textarea>
                </td>
            </tr>
        </table>
    </div>
    <div class="button-container" id="btnGroup">
        <div class="button-group ac">
            <input type="button"
                   id="btnReject"
                   value="驳回"
                   class="layui-btn layui-btn-sm" />
            <input type="button"
                   id="btnOk"
                   value="确定"
                   class="layui-btn layui-btn-sm" />
        </div>
    </div>
    <script type="text/html" id="common_audit_select_template">
        <option to="{{Destination}}" value="{{NID}}" action="{{Action}}">{{Name}}</option>
    </script>
</body>
</html>
